@import "variables";
@import "mixins";

.choices {
  width: 170px;

  .choices__inner {
    border: none;
    @include element;
  }

  .choices__list[aria-expanded], .choices__list--dropdown {
    border: none;
    border-radius: 5px;
    @include element;
  }
}

.choices[data-type*="select-one"]::after {
  background-image: url('../assets/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  content: "";
  filter: invert(var(--invertion));
  height: 20px;
  pointer-events: none;
  position: absolute;
  top: 15px;
  transition: 0.3s;
  width: 20px;
}

.choices[data-type*="select-one"].is-open::after {
  rotate: 180deg;
  top: 20px;
}

.is-highlighted {
  background-color: var(--highlight-color) !important;
}

@media screen and (min-width: 900px) {
  .choices {
    justify-self: flex-end;
  }
}