@import "mixins";
@import "variables";

.filters-container {
  display: grid;
  gap: 40px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);

  .input-container {
    @include element;
    height: 50px;
    padding: 10px 15px;
    width: 100%;

    form {
      align-items: center;
      display: flex;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.5;
        }
      }

      img {
        filter: invert(var(--invertion));
      }

      input {
        background-color: var(--primary-color);
        border: none;
        caret-color: var(--input-color);
        color: var(--input-color);
        font-family: $main-font;
        font-size: 15px;
        height: 100%;
        margin-left: 15px;
        outline: none;
        width: 100%;

        &::placeholder {
          color: var(--input-color);
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .filters-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 0 50px;

    .input-container {
      max-width: 500px;
    }
  }
}