@import "variables";
@import "mixins";

header {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 90px;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 7px -2px var(--shadow-color);
}

.heading {
  font-size: 16px;
  font-weight: 800;
}

.switch-theme {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  outline: none;
  width: 90px;

  img {
    filter: invert(var(--invertion));
  }
}

@media screen and (min-width: 900px) {
  header {
    padding: 20px 50px;

    .heading {
      font-size: 25px;
    }

    .switch-theme {
      font-size: 16px;
      width: 115px;

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}