@import "mixins";
@import "variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .flag {
    border: 1px solid rgba(0, 0, 0, 0.07);
  }

  .back {
    @include element;
    align-items: center;
    border: none;
    color: var(--text-color);
    display: flex;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    justify-content: space-around;
    padding: 0 15px;
    text-decoration: none;
    width: 100px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    img {
      filter: invert(var(--invertion));
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .name {
      font-size: 25px;
      font-weight: 700;
    }

    .main-info-container, .secondary-info-container {
      display: flex;
      flex-direction: column;
      gap: 7px;

      @include info;
    }

    .borders-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .border-countries {
        font-size: 20px;
        font-weight: 500;
      }

      .borders-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 290px;

        .border-card {
          @include element;
          font-size: 14px;
          font-weight: 300;
          min-width: 90px;
          padding: 7px 10px;
          text-align: center;
          text-decoration: none;
          color: var(--text-color);
        }
      }
    }
  }
}


@media screen and (min-width: 900px) {
  .container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .flag {
      grid-column: 1;
      justify-self: center;
      width: 60%;
    }

    .column {
      display: grid;

      .name {
        font-size: 30px;
        grid-column: 1;
        grid-row: 1;
      }

      .info {
        font-size: 18px;
      }

      .main-info-container {
        grid-column: 1;
        grid-row: 2;
      }

      .secondary-info-container {
        grid-column: 2;
        grid-row: 2;
      }

      .borders-container  {
        grid-column: 1/span 2;
        grid-row: 3;

        .borders-flex {
          max-width: 100%;
        }
      }
    }
  }
}