$light-text-color: hsl(200, 15%, 8%);
$light-input-color: hsl(0, 0%, 52%);
$light-background-color: hsl(0, 0%, 98%);
$light-primary-color: hsl(0, 0%, 100%);
$main-font: "Nunito Sans", sans-serif;
$dark-primary-color: hsl(209, 23%, 22%);
$dark-background-color: hsl(207, 26%, 17%);
$dark-text-color: hsl(0, 0%, 100%);
$dark-input-color: hsl(0, 0%, 100%);
$dark-shadow-color: rgba(0, 0, 0, 0.42);
$light-shadow-color: #d3caca;
$light-highlight-color: #f2f2f2;
$dark-highlight-color: hsl(207, 26%, 17%);


:root {
  --invertion: 0;
  --background-color: #{$light-background-color};
  --highlight-color: #{$light-highlight-color};
  --input-color: #{$light-input-color};
  --primary-color: #{$light-primary-color};
  --shadow-color: #{$light-shadow-color};
  --text-color: #{$light-text-color};
}

[data-theme="dark"] {
  --invertion: 1;
  --background-color: #{$dark-background-color};
  --highlight-color: #{$dark-highlight-color};
  --input-color: #{$dark-input-color};
  --primary-color: #{$dark-primary-color};
  --shadow-color: #{$dark-shadow-color};
  --text-color: #{$dark-text-color};
}
